PORT=5000
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/travelly_db"
BASE_URL=http://localhost:5000
MEDIA_STORAGE_DRIVER=local
IITK_SFTP_HOST=your-iitk-server-ip
IITK_SFTP_PORT=22
IITK_SFTP_USER=your-ssh-username
IITK_SFTP_PASSWORD=your-ssh-password
IITK_UPLOAD_ROOT=/home/ten_bits/travelly_uploads
LOCAL_UPLOAD_ROOT=/home/ten_bits/travelly_uploads
IITK_PUBLIC_BASE_URL=http://your-iitk-public-host/travelly
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
JWT_SECRET=
JWT_EXPIRE=24h
ORS_API_KEY=your-openrouteservice-api-key
SERPAPI_KEY=your-serpapi-key